/* IMPORTANT: THIS IS YOUR HOME PAGE, NOT YOUR STYLE PAGE SEND URR DESIGN HERE
–––––––––––––––––––––––––––––––––––––––––––––– */
/* Colors
–––––––––––––––––––––––––––––––––––––––––––––– */
/* General Formatting
–––––––––––––––––––––––––––––––––––––––––––––– */
.intro-description {
  background-color: #cce3ff;
  padding: 0.125px;
}

.cardlol {
  background-color: #fff;
  margin: 1em;
  padding: 30px 15px;
}
.student-s {
  padding: 0.6em;
  text-align: left;
}
.description {
  margin-top: 10px; 
  padding-bottom: 20px; 
}
.work {
  border-bottom:1px solid #f4f4f4;
}
/* Images
–––––––––––––––––––––––––––––––––––––––––––––– */
img {
  border: 0;
  height: auto;
  width: 100%;
}
.students {
  width: 320px;
} 
.jann { 
  width: 100px;
}

.jan  {
  width: 100px;
}

.jane {
  width: 100px;
}
.s-pro {
  text-align: left;
}
.filler-a {
  width: 220px;
  margin-left: 30px;
  margin-top: 10px;
}
.filler-b {
  width: 200px;
}
.filler-c {
  width: 200px;
}
.filler-d {
  width: 200px;
}
.filler-e {
  width: 200px;
}

.listp-item {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 10px;
}
.grid-sections{
  padding: 1em;
  margin-bottom: 20px; 
}
/* Media + Grids
–––––––––––––––––––––––––––––––––––––––––––––– */




