/* IMPORTANT: THIS IS YOUR HOME PAGE, NOT YOUR STYLE PAGE SEND URR DESIGN HERE
–––––––––––––––––––––––––––––––––––––––––––––– */
/* Colors
–––––––––––––––––––––––––––––––––––––––––––––– */
/* General Formatting
–––––––––––––––––––––––––––––––––––––––––––––– */
.intro-description {
  background-color: #cce3ff;
  padding: 0.125px;
}

.cardlol {
  background-color: #fff;
  margin: 1em;
  padding: 30px 15px;
}
.student-s {
  padding: 0.6em;
  text-align: left;
}
.description {
  margin-top: 10px; 
  padding-bottom: 20px; 
}
.work {
  border-bottom:1px solid #f4f4f4;
}
.profile {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  padding-bottom: 1.3em;
}
.programs {
  text-align: center;
}
.pr-h {
  color: #0540F2;
  text-align: left;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 3em;
}
/* Images
–––––––––––––––––––––––––––––––––––––––––––––– */
img {
  border: 0;
  height: auto;
  width: 100%;
}
.students {
  width: 320px;
} 
.jann { 
  width: 124px;
  border: 3px black solid;
}

.jan  {
  width: 100px;
}

.jane {
  width: 100px;
}
.s-pro {
  text-align: left;
}
.filler-a {
  width: 220px;
}
.filler-b {
  width: 200px;
}
.filler-c {
  width: 200px;
}
.filler-d {
  width: 200px;
}
.filler-e {
  width: 200px;
}

.listp-item {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 10px;
}
.grid-sections {
  margin-top: 20px;
  padding: 0 15px;
}
.layout {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.s-layout {
  display: grid;
  grid-template-columns: 1fr;
  padding: 27px 27px 17px 18px;
  border: 3px black solid;
  background-color: white;
}
/* Names
–––––––––––––––––––––––––––––––––––––––––––––– */
.name {
  color: #acacac;
  
}
.small-p {
  text-align: center;
color: #acacac;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: .6rem;
  line-height: 2.8em;
}

/* Media + Grids
–––––––––––––––––––––––––––––––––––––––––––––– */ 
@media screen and (min-width: 567px) {
  .card lol {
    padding: 15px;
  }
  .students {
    width: 567px;
  }
  .pr-h {
    text-align: center;
    font-size: 30px;
  }
  .intro-description {
    padding: 3px;
  }
  .s-layout {
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 1em;
  }
  .profile {
    grid-template-columns: 1fr;
    padding-left: 0.31em;
  }
  .listp-item {
    padding-left: 3em;
  }
  .category-dsn {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr  1fr;
    grid-gap: 1em;
  }
  .programs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }
  .filler-a {
    width: 200px;
  }


}
@media screen and (min-width: 768px) {
  .students {
    width: 720px;
  }
  .programs {
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 2em;
  }
  .filler-a {
    width: 300px;
  }
  .listp-item {
    padding-left: 9em;
  }
  .s-layout {
    padding-left: 6em;
  }
}
@media screen and (min-width: 1024px ) {
  .intro-description {
    padding: 18px 27px 26px 12px;
  }
  .cardlol {
    width: 100%;
    padding: 60px 30px;
  }
  .jann {
    width: 218px;
  }
  .listp-item {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .description {
    font-size: 1.5em;
  }
  .students {
    width: 1000px;
    margin-left: 7px;
    margin-bottom: 5px;
  }
  .student-s {
    font-size: 0.80rem;
  }
  .small-p {
    font-size: 0.70rem;
  }
  .listp-item{
    padding-right:9em ;
  }
}