/* IMPORTANT: THIS IS YOUR GENERAL PAGE, ONLY USE FOR HEADINGS + FOOTERS + FORMAT [ FOR WHAT'S STAYING ON YOUR PAGE ] 
–––––––––––––––––––––––––––––––––––––––––––––– */
/* Font Imports
–––––––––––––––––––––––––––––––––––––––––––––– */
@import url("https://use.typekit.net/zkc7kfd.css");
@import url("https://use.typekit.net/zkc7kfd.css");
@import url("https://use.typekit.net/zkc7kfd.css");

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --main-bgc: #f1eeee ;
  --highc:#80A6F2;  
}
/* General Formatting
–––––––––––––––––––––––––––––––––––––––––––––– */
body {
  width: 100%;
    margin: 0;
    padding: 0;
    font-size: 10px;
    line-height: 1.55;
    font-family: soleil, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-stretch: normal;
}

/* Logo change it laater lmao / images
–––––––––––––––––––––––––––––––––––––––––––––– */
.test {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 120px;
}
.m-logo {
  text-align: center;
}

/* Header & Navigation
–––––––––––––––––––––––––––––––––––––––––––––– */

.m-logo { 
  border-bottom: 1px solid #f4f4f4;
}
.nav-wrapper {
  display: inline;
  text-align: center;
  font-size: 1.5em;
}
.main-nav {
  padding-bottom: 0.5em;
}
.main-nav li {
  font-size: .66667em;
  line-height: 1rem;
}
/*  display: inline for ^ here later; */
.nav-item {
  padding: 1em;
font-family: soleil, Arial, Helvetica,sans-serif;
font-weight: 700;
font-style: normal;


}

–––––––––––––––––––––––––––––––––––––––––––––– */
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––– */
.gb-t {
  font-family: soleil, Arial, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  margin-top: 10px;
  color: #0540F2;
}
.low-h {
  text-align: center;
  font-size: .7rem;
  line-height: .83333rem;
  margin-right: 10px;
}
.small-t {
  color: #acacac;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: .5rem;
}
.w-btn {
  background-image: linear-gradient(180deg,#04D9D9,#04D9D9);
  background-repeat: no-repeat;
  background-position: 4px bottom;  
  background-size: 100% 5px;
  text-transform: uppercase;
  font-size: .5rem;
  line-height: 1rem;
  display: inline;
}
.w-btn :hover {
  background-image: linear-gradient(180deg,#80A6F2, #80A6F2);
}

.quote {
  display: inline;
}

.sp-h {
  color: #0540F2;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.5rem;
  margin-left: 10px;
}


.dp-h {
  color: #0540F2;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 3px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.3rem;
  margin-left: 10px;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––– */
.social-icons{
  margin-bottom: 10px;
}
.low-h {
  font-weight: 100;
  letter-spacing: .08334rem;
  text-transform: uppercase;  
  margin-top: 30px;
  margin-bottom: 10px;  
  padding-left: 8px;
}
.mda {
  padding: 0.010em;
    margin: 0 0.7em 0 0;
}
.fy {
  margin-top: 10px;
  text-align: center;
}
.mda {
  padding: 0.010em;
    margin: 0 0.7em 0 0;
}
.ss {
  width: 20px;
}
.fy li {
  display: inline;
}
.test-bottom {
  text-align: center;
  width: 120px;
}
.copy-date {
  margin-left: 5px;
  text-align: center;
  font-size: 1em;
  margin-top: 10px; 
  margin-bottom: 20px;
}
.notices {
  font-size: 0.788em;
  text-transform: uppercase;  
  display: inline;
  letter-spacing: .0832rem;
}
.privacy-items {
  display: inline;
}
.legal-s {
  border-left: 14.85px;
  border-right: 14.85px;
  margin-top: 15px; 
  text-align: center;
  font-size: .83333rem;
}
.logo {
  margin-top: 17px;
  margin-bottom: 10px;
  text-align: center;
}
.footer-nav {
  text-align: center;
}
.footer-extra {
  margin-top: 20px;
  padding-right: 5px;
  padding-top: 8px; 
background-color: #dae3f4; 
display: block;
text-align: center;
}
.f-style {
  font-family: ff-enzo-web, sans-serif;
  font-size: 1.8em;
  font-weight: 700;
  font-style: normal;
  color: white;
}



/* Media + Grids
–––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 567px ) {

  .footer-item {
    padding: 0;
  }
  .privacy-items {
    padding: 0.3em;
  }
  .main-nav li {
    display: inline;

  }
.small-t {
  font-size: .66rem;
}
.gb-t {
  font-size: 1.3em;
}
.w-btn {
  font-size: 1em;
}
.sp-h {
  text-align: center;
}
.low-h {
  margin: 0;
}
.footer-nav li {
  display: inline;
  font-size: .66667rem;
  padding: 1em;
}
  .dp-h {
    font-size: 30px;
  }
  .sp-h {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .legal-s {
    font-size: .9rem;
  }
  .test-bottom {
    display: inline-block;
  }
  .w-btn {
    font-size: 1.3em;
  }
  .small-t {
    font-size: .70rem;
  }
  .main-nav li {
    font-size: 0.80rem;
    line-height: 2em;
  }
  .ss {
    width: 30px;
  }
  .footer-nav {
    font-size: 0.60em;
  }
  .copy-date {
    font-size: 1.3em;
  }
}