/* IMPORTANT: THIS IS YOUR GENERAL PAGE, ONLY USE FOR HEADINGS + FOOTERS + FORMAT [ FOR WHAT'S STAYING ON YOUR PAGE ] 
–––––––––––––––––––––––––––––––––––––––––––––– */
/* Font Imports
–––––––––––––––––––––––––––––––––––––––––––––– */
@import url("https://use.typekit.net/zkc7kfd.css");
@import url("https://use.typekit.net/zkc7kfd.css");

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --main-bgc: #f1eeee ;
  --highc:#80A6F2;  
}
/* General Formatting
–––––––––––––––––––––––––––––––––––––––––––––– */
body {
  width: 100%;
    margin: 0;
    padding: 0;
    font-size: 10px;
    line-height: 1.55;
    font-family: soleil, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-stretch: normal;
}

/* Logo change it laater lmao / images
–––––––––––––––––––––––––––––––––––––––––––––– */
.test {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 120px;
}
.m-logo {
  text-align: center;
}

/* Header & Navigation
–––––––––––––––––––––––––––––––––––––––––––––– */
.m-logo { 

  border-bottom: 1px solid #f4f4f4;
}
.nav-wrapper {
  display: inline;
  text-align: center;
  font-size: 1.5em;
}
.main-nav li {
  display: inline;
  font-size: .66667rem;
  line-height: 1rem;
}
.nav-item {
  padding: 1em;
}
/* Menu 
–––––––––––––––––––––––––––––––––––––––––––––– */
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––– */
h5 {
  text-align: center;
  font-size: .7rem;
  line-height: .83333rem;
}
/* Footer
–––––––––––––––––––––––––––––––––––––––––––––– */
.social-icons{
  margin-bottom: 10px;
}
.low-h {
  font-weight: 100;
  letter-spacing: .08334rem;
  text-transform: uppercase;  
  margin-top: 10px;
  margin-bottom: 10px;  
  padding-left: 8px;
}
.mda {
  padding: 0.010em;
    margin: 0 0.7em 0 0;
}
.fy {
  margin-top: 10px;
  text-align: center;
}
.mda {
  padding: 0.010em;
    margin: 0 0.7em 0 0;
}
.ss {
  width: 20px;
}
.fy li {
  display: inline;
}
.test-bottom {
  text-align: center;
  width: 120px;
}
.copy-date {
  text-align: center;
  font-size: 1em;
  margin-top: 10px; 
  margin-bottom: 20px;
}
.notices {
  font-size: 0.788em;
  text-transform: uppercase;  
  display: inline;
  letter-spacing: .0832rem;
}
.privacy-items {
  display: inline;
}
.legal-s {
  border-left: 14.85px;
  border-right: 14.85px;
  margin-top: 15px; 
  text-align: center;
  font-size: .83333rem;
}
.logo {
  margin-top: 17spx;
  margin-bottom: 10px;
  text-align: center;
}
.footer-nav {
  text-align: center;
}
.footer-extra {
  margin-top: 20px;
  padding-right: 5px;
  padding-top: 8px; 
background-color: #dae3f4; 
display: block;
text-align: center;
}
.f-style {
  font-family: ff-enzo-web, sans-serif;
  font-size: 1.8em;
  font-weight: 700;
  font-style: normal;
  color: white;
}
/* Media + Grids
–––––––––––––––––––––––––––––––––––––––––––––– */




